/*nothing interesting here*/
.container-fluid {
	height: 900px;
}


.black-container {
	position: relative;
	background-color: #0c0c0c;
	padding: 10px 20px;
}

.white-container {
	position: relative;
	background-color: #fff;
	padding: 10px 20px;
}
.bulbs-container1 {
	margin-bottom: 50px;
	color: #999;
	padding: 10px 50px;
}

.bulbs-container div {
	height: 129px;
	width: 80px;
	display: inline-block;
	margin: 20px;
}
.b1-on {
	background-image: url(images/bulb2.png);
}
.b2-on {
	background-image: url(images/bulb2.png);
}
.b3-on {
	background-image: url(images/bulb2.png);
}
.b4-on {
	background-image: url(images/bulb2.png);
}
.b5-on {
	background-image: url(images/bulb2.png);
}
.b0-on {
	background-image: url(images/bulb2.png);
}
.b1-off {
	background-image: url(images/bulb1.png);
}
.b2-off {
	background-image: url(images/bulb1.png);
}
.b3-off {
	background-image: url(images/bulb1.png);
}
.b4-off {
	background-image: url(images/bulb1.png);
}
.b5-off {
	background-image: url(images/bulb1.png);
}
.b0-off {
	background-image: url(images/bulb1.png);
}

.btn-secondary {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #0c0c0c;
}
.btn-secondary {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background-color: #0c0c0c;
	border-color: #0c0c0c;
}
.btn-secondary:focus, .btn-secondary:active:focus {
	box-shadow: none;
}

.rub {
  background-color: #bbb;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  font-weight: bold;  
  border: solid 5px #000;
  border-width: 0 4px 5px 0;
  border-radius: 5px;
  border-color: transparent #ddd #999 transparent;
  background-clip: padding-box; 
}

.form-control{
	background-color: #CCC;
}

.alert-danger {
	padding: 5px;
	margin-top: -15px;
	background-color: #0E1111;
	border-color: #0E1111;
	color: #FF0B0B;
}

#genderError {
	margin-top: 6px;
}

.errors {
	border-color: #FF0B0B;
	box-shadow: 0 0 0 0.2rem rgba(255, 16, 16, 0.25);
}

/*end of boring stuff*/